<h1>
  <% @hipku.each do |line| %>
    <p><%= line.gsub(/\A./) {|m| m.upcase} %></p>
  <% end %>
</h1>

<p>
<% rand(800).times do %>
  <% newline = rand > 0.95 %>
  <% if newline %>
    </p>
  <% end %>
    <% word = generate_word %>
    <%= (link_to word, next_action, class: "glitch #{glitch_class}", data: {text: word}) %>
  <% if newline %>
    <p
    class = <%= %w[left right].sample %>
    >
  <% end %>
<% end %>
</p>

<% if @variant == 4 %>
  <form action="/" method="get">
    <p>
      &nbsp;
    <p/>
    <label class='ask'>
      ASK : <%= text_area_tag('ASK') %>
    </label>
    <label class='tell'>
      TELL: <%= text_area_tag('TELL') %>
    </label>
    <div class='buttonholder'>
      <button>
        INPUT
      </button>
    </div>
  </form>
<% end %>
