<h1>
  <% @hipku.each do |line| %>
    <p><%= line.gsub(/\A./) {|m| m.upcase} %></p>
  <% end %>
  </br>
  <p><%= @reply %></p>
</h1>

<%= render 'words', word_generator: method(:generate_word) %>

<% if @variant == 4 %>
  <form action="/" method="get">
    <p>
      &nbsp;
    <p/>
    <label class='ask'>
      ASK : <%= text_area_tag('ASK') %>
    </label>
    <label class='tell'>
      TELL: <%= text_area_tag('TELL') %>
    </label>
    <div class='buttonholder'>
      <button>
        INPUT
      </button>
    </div>
  </form>
<% end %>
